<section id="start">
  <div class="mainInfo">
    <h1>Jorge Rodrigo Monteiro</h1>
    <h2>Desenvolvedor Full Stack</h2>
    <a href="#about">
      <img src="../../../assets/icons/startup.png" alt="foguete" />
      Iniciar Jornada!
    </a>
  </div>
  <div class="aboutInfo" id="about">
    <img
      src="../../../assets/icons/space-exploration 1.png"
      alt="foguete em um planeta"
      class="firstStop"
    />
    <h2>Primeira Parada: Sobre mim</h2>
    <div>
      <img
        src="../../../assets/img/foto.png.jpeg"
        alt="Foto do Jorge Rodrigo"
      />
      <p>
        Meu nome é Jorge Rodrigo eu tenho 23 anos, sou um desenvolvedor Full
        Stack e moro em São Bernardo do Campo em São Paulo!
      </p>
      <p>
        Desde que eu era uma criança sempre gostei da internet, sempre tive
        bastante conexão com os jogos e foi por causa deles que eu comecei a ter
        interesse nesse mundo, o meu interesse surgiu das modificações dos
        jogos, onde eu comecei a mexer e tentar mudar eu mesmo, mesmo que eu não
        entendesse o que eu estava fazendo foi o primeiro contato com a
        programação!
      </p>
      <p>
        Mas mesmo com esse interesse eu acabei não me aprofundando nesse mundo,
        e só fui realmente começar a aprender depois que eu terminei a escola e
        decidi começar a faculdade de Ciências da Computação. Mas eu acabei
        gostando de verdade e me aperfeiçoando mesmo a partir do momento que
        entrei no curso da Kenzie Academy Brasil onde consegui me formar como
        desenvolvedor.
      </p>
    </div>
  </div>
  <app-skills></app-skills>
</section>
