section {
  padding-top: 90px;
  background-image: url("../../../assets/gifs/purple.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;

  .mainInfo {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    h1 {
      font-family: var(--font-koho);
      color: var(--color-white);
      font-weight: 700;
    }
    h2 {
      font-family: var(--font-koho);
      color: var(--color-white);
      font-size: 15px;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      background-color: var(--color-gray);
      border: 2px var(--color-purple1) solid;
      width: 45%;
      height: 26px;
      color: var(--color-white);
      font-weight: 600;
      @media (min-width: 400px) {
        width: 35%;
      }
      @media (min-width: 800px) {
        width: 16%;
      }
      img {
        width: 15px;
        height: 15px;
      }
    }
    a:hover {
      background-color: var(--color-purple2);
      border: 2px solid var(--color-white);
    }
  }
  .aboutInfo {
    background-color: var(--color-purple2);
    margin: 275px 15px 0 15px;
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    .firstStop {
      width: 55px;
      height: 55px;
      padding-right: 5px;
      border-right: 3px solid var(--color-white);
    }
    h2 {
      width: 185px;
      font-family: var(--font-koho);
      font-size: 20px;
      color: var(--color-white);
    }
    div {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 100%;
        width: 165px;
        height: 165px;
      }
      @media (min-width: 800px) {
        img {
          width: 205px;
          height: 205px;
        }
      }
      p {
        font-family: var(--font-koho);
        color: var(--color-white);
        font-size: 16px;
        margin-top: 20px;
      }
    }
  }
}
