section {
  padding-top: 5.625rem;
  background-image: url("../../../assets/gifs/purple.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;

  .mainInfo {
    padding-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
    h1 {
      font-family: var(--font-koho);
      color: var(--color-white);
      font-weight: 700;
    }
    h2 {
      font-family: var(--font-koho);
      color: var(--color-white);
      font-size: 0.9375rem;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;

      background-color: var(--color-gray);
      border: 0.125rem var(--color-purple1) solid;
      width: 45%;
      height: 1.625rem;
      color: var(--color-white);
      font-weight: 600;
      @media (min-width: 25rem) {
        width: 35%;
      }
      @media (min-width: 50rem) {
        width: 16%;
      }
      img {
        width: 0.9375rem;
        height: 0.9375rem;
      }
    }
    a:hover {
      background-color: var(--color-purple2);
      border: 0.125rem solid var(--color-white);
    }
  }
  .aboutInfo {
    background-color: var(--color-purple2);
    margin: 17.1875rem 0.9375rem 0 0.9375rem;
    padding: 0.625rem 0.625rem;
    border-radius: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.9375rem;
    .firstStop {
      width: 3.4375rem;
      height: 3.4375rem;
      padding-right: 0.3125rem;
      border-right: 0.1875rem solid var(--color-white);
    }
    h2 {
      width: 11.5625rem;
      font-family: var(--font-koho);
      font-size: 1.25rem;
      color: var(--color-white);
    }
    div {
      margin-top: 0.9375rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 100%;
        width: 10.3125rem;
        height: 10.3125rem;
      }
      @media (min-width: 50rem) {
        img {
          width: 12.8125rem;
          height: 12.8125rem;
        }
      }
      p {
        font-family: var(--font-koho);
        color: var(--color-white);
        font-size: 1rem;
        margin-top: 1.25rem;
      }
    }
  }
}
