<section>
  <div class="mainInfo">
    <h1>Jorge Rodrigo Monteiro</h1>
    <h2>Desenvolvedor Full Stack</h2>
    <button>
      <img src="../../../assets/icons/startup.png" alt="foguete" />
      Iniciar Jornada!
    </button>
  </div>
  <div class="aboutInfo">
    <img
      src="../../../assets/icons/space-exploration 1.png"
      alt="foguete em um planeta"
      class="firstStop"
    />
    <h2>Primeira Parada: Sobre mim</h2>
    <div>
      <img
        src="../../../assets/img/foto.png.jpeg"
        alt="Foto do Jorge Rodrigo"
      />
      <p>Meu nome é Jorge eu tenho 22 anos e sou um Desenvolvedor Fullstack</p>
    </div>
  </div>
</section>
