<nav>
  <ul>
    <li>
      <a href="#start">
        <img src="../../../assets/icons/home.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#about">
        <img src="../../../assets/icons/book.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#skills">
        <img src="../../../assets/icons/creative-thinking.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#projects">
        <img src="../../../assets/icons/project.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#contacts">
        <img src="../../../assets/icons/contact-mail.png" alt="" />
      </a>
    </li>
  </ul>
</nav>
