nav {
  background-color: var(--main-purple);
  padding: 10px 10px;
  position: fixed;
  width: 100%;
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    @media (min-width: 500px) {
      gap: 40px;
    }
    li {
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}
