nav {
  background-color: var(--main-purple);
  padding: 10px 10px;
  position: fixed;
  width: 100%;
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    @media (min-width: 500px) {
      gap: 40px;
    }
    li {
      cursor: pointer;
      a {
        border: 2px solid transparent;
      }

      :hover {
        border: 2px solid var(--color-white);
        border-radius: 10px;
        background-color: var(--color-purple1);
      }
      img {
        border: 2px solid transparent;
        padding: 5px;
        width: 45px;
        height: 45px;
      }
    }
  }
}
