<section>
  <div class="projects">
    <img
      src="../../../assets/icons/space-exploration 1.png"
      alt="foguete em um planeta"
      class="firstStop"
    />
    <h2>Terceira Parada: Projetos</h2>
    <ul>
      <li>
        <div>
          <h3>Projeto Legal</h3>
          <img
            src="../../../assets//icons/icons8-github-100.png"
            alt=""
            class="github"
          />
        </div>
        <p>um projeto muito divertido eba to deliza sansjajdnjaijfkna</p>
        <p class="techs">Tecnologia principal: <span>Typescript</span></p>
      </li>
      <li>
        <div>
          <h3>Projeto Legal</h3>
          <img
            src="../../../assets//icons/icons8-github-100.png"
            alt=""
            class="github"
          />
        </div>
        <p>um projeto muito divertido eba to deliza sansjajdnjaijfkna</p>
        <p class="techs">Tecnologia principal: <span>Typescript</span></p>
      </li>
      <li>
        <div>
          <h3>Projeto Legal</h3>
          <img
            src="../../../assets//icons/icons8-github-100.png"
            alt=""
            class="github"
          />
        </div>
        <p>um projeto muito divertido eba to deliza sansjajdnjaijfkna</p>
        <p class="techs">Tecnologia principal: <span>Typescript</span></p>
      </li>
      <li>
        <div>
          <h3>Projeto Legal</h3>
          <img
            src="../../../assets//icons/icons8-github-100.png"
            alt=""
            class="github"
          />
        </div>
        <p>um projeto muito divertido eba to deliza sansjajdnjaijfkna</p>
        <p class="techs">Tecnologia principal: <span>Typescript</span></p>
      </li>
      <li>
        <div>
          <h3>Projeto Legal</h3>
          <img
            src="../../../assets//icons/icons8-github-100.png"
            alt=""
            class="github"
          />
        </div>
        <p>um projeto muito divertido eba to deliza sansjajdnjaijfkna</p>
        <p class="techs">Tecnologia principal: <span>Typescript</span></p>
      </li>
    </ul>
  </div>
  <div class="contact">
    <img
      src="../../../assets/icons/space-exploration 1.png"
      alt="foguete em um planeta"
      class="firstStop"
    />
    <h2>Quarta Parada: Contatos</h2>
  </div>
</section>
