section {
  background-image: url("../../../assets/gifs/purple3.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .projects {
    width: 100%;
    padding: 0.625rem 0.625rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.9375rem;

    .firstStop {
      width: 3.4375rem;
      height: 3.4375rem;
      padding-right: 0.3125rem;
      border-right: 0.1875rem solid var(--color-white);
    }
    h2 {
      width: 11.5625rem;
      font-family: var(--font-koho);
      font-size: 1.25rem;
      color: var(--color-white);
    }
    ul {
      list-style: none;
      width: 100%;
      padding: 0.9375rem 0.9375rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5625rem;
      li {
        display: flex;
        flex-direction: column;
        gap: 0.9375rem;
        width: 100%;
        background-color: var(--color-purple2);
        color: var(--color-white);
        font-family: var(--font-koho);
        border: 0.125rem solid transparent;
        padding: 0.9375rem 0.8125rem;
        @media (min-width: 43.75rem) {
          width: 43%;
        }
        @media (min-width: 58.75rem) {
          width: 30%;
        }

        img {
          width: 2.8125rem;
          height: 2.8125rem;
          cursor: pointer;
        }
        .applicationLink {
          text-align: center;
          width: 8.75rem;
          padding: 0.3125rem 0.625rem;
          border: 0.125rem solid var(--color-purple3);
          background-color: var(--color-purple1);
          color: var(--color-white);
          text-decoration: none;
          border-radius: 0.5rem;
        }
        .applicationLink:hover {
          background-color: var(--color-purple3);
          border: 0.125rem solid var(--color-purple1);
        }
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .techs {
          margin-top: 0.9375rem;
          display: flex;
          flex-wrap: wrap;
          gap: 0.625rem;
          span {
            padding: 0.1875rem 0.5625rem;
            border-radius: 0.5rem;
            background-color: var(--color-purple3);
            color: var(--color-white);
          }
        }
      }
      li:hover {
        border: 0.125rem solid var(--color-purple1);
      }
    }
  }
  .contact {
    margin-top: 0.9375rem;
    background-color: var(--color-purple3);
    width: 100%;
    padding: 0.625rem 0.625rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.9375rem;

    .firstStop {
      width: 3.4375rem;
      height: 3.4375rem;
      padding-right: 0.3125rem;
      border-right: 0.1875rem solid var(--color-white);
    }
    h2 {
      width: 11.5625rem;
      font-family: var(--font-koho);
      font-size: 1.25rem;
      color: var(--color-white);
    }
    div {
      width: 100%;
      padding: 0.9375rem 0.9375rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1.875rem;
      @media (min-width: 43.75rem) {
        gap: 4.375rem;
      }
      img {
        width: 3.125rem;
        height: 3.125rem;
      }
    }
  }
}
