<div class="skillInfo">
  <img
    src="../../../assets/icons/space-exploration 1.png"
    alt="foguete em um planeta"
    class="firstStop"
  />
  <h2>Segunda Parada: Tecnologias</h2>
  <ul class="scroller" #scroller1>
    <li>
      <img src="../../../assets/icons/skills/html-5 (1).png" alt="" />
    </li>
    <li>
      <img src="../../../assets/icons/skills/css-3.png" alt="" />
    </li>
    <li>
      <img
        src="../../../assets/icons/skills/icons8-javascript-240.png"
        alt=""
      />
    </li>
    <li>
      <img src="../../../assets/icons/skills/typescript_5968381.png" alt="" />
    </li>
    <li>
      <img src="../../../assets/icons/skills/icons8-reagir-240.png" alt="" />
    </li>
    <li>
      <img src="../../../assets/icons/skills/icons8-nestjs-240.png" alt="" />
    </li>
    <li>
      <img
        src="../../../assets/icons/skills/icons8-angular-96 (1).png"
        alt=""
      />
    </li>
    <li>
      <img src="../../../assets/icons/skills/icons8-node-js-240.png" alt="" />
    </li>
    <li>
      <img src="../../../assets/icons/skills/icons8-nestjs-240.png" alt="" />
    </li>
    <li>
      <img
        src="../../../assets/icons/skills/icons8-styled-components-96.png"
        alt=""
      />
    </li>
    <li>
      <img src="../../../assets/icons/skills/sass_5968358.png" alt="" />
    </li>
    <li>
      <img
        src="../../../assets/icons/skills/icons8-tailwind-css-240.png"
        alt=""
      />
    </li>
    <li>
      <img src="../../../assets/icons/skills/postgre.png" alt="" />
    </li>
    <li>
      <img src="../../../assets/icons/skills/icons8-docker-96.png" alt="" />
    </li>
    <li>
      <img src="../../../assets/icons/skills/python_5968350.png" alt="" />
    </li>
    <li>
      <img src="../../../assets/icons/skills/icons8-django-250.png" alt="" />
    </li>
    <li>
      <img src="../../../assets/icons/skills/java.png" alt="" />
    </li>
    <li>
      <img src="../../../assets/icons/skills/icons8-git-240.png" alt="" />
    </li>
    <li>
      <img src="../../../assets/icons/skills/icons8-github-250.png" alt="" />
    </li>
  </ul>
</div>
