<div class="skillInfo" id="skills">
  <img
    src="../../../assets/icons/space-exploration 1.png"
    alt="foguete em um planeta"
    class="firstStop"
  />
  <h2>Segunda Parada: Tecnologias</h2>
  <ul>
    <li>
      <p class="skillName">HTML</p>
      <img src="../../../assets/icons/skills/html-5 (1).png" alt="" />
    </li>
    <li>
      <p class="skillName">CSS</p>
      <img src="../../../assets/icons/skills/css-3.png" alt="" />
    </li>
    <li>
      <p class="skillName">Javascript</p>
      <img
        src="../../../assets/icons/skills/icons8-javascript-240.png"
        alt=""
      />
    </li>
    <li>
      <p class="skillName">Typescript</p>
      <img src="../../../assets/icons/skills/typescript_5968381.png" alt="" />
    </li>
    <li>
      <p class="skillName">React</p>
      <img src="../../../assets/icons/skills/icons8-reagir-240.png" alt="" />
    </li>
    <li>
      <p class="skillName">NextJs</p>
      <img src="../../../assets/icons/skills/icons8-next.js-240.png" alt="" />
    </li>
    <li>
      <p class="skillName">Angular</p>
      <img
        src="../../../assets/icons/skills/icons8-angular-96 (1).png"
        alt=""
      />
    </li>
    <li>
      <p class="skillName">NodeJs</p>
      <img src="../../../assets/icons/skills/icons8-node-js-240.png" alt="" />
    </li>
    <li>
      <p class="skillName">NestJs</p>
      <img src="../../../assets/icons/skills/icons8-nestjs-240.png" alt="" />
    </li>
    <li>
      <p class="skillName">StyledComponents</p>
      <img
        src="../../../assets/icons/skills/icons8-styled-components-96.png"
        alt=""
      />
    </li>
    <li>
      <p class="skillName">Sass</p>
      <img src="../../../assets/icons/skills/sass_5968358.png" alt="" />
    </li>
    <li>
      <p class="skillName">TailwindCSS</p>
      <img
        src="../../../assets/icons/skills/icons8-tailwind-css-240.png"
        alt=""
      />
    </li>
    <li>
      <p class="skillName">Postgres</p>
      <img src="../../../assets/icons/skills/postgre.png" alt="" />
    </li>
    <li>
      <p class="skillName">Docker</p>
      <img src="../../../assets/icons/skills/icons8-docker-96.png" alt="" />
    </li>
    <li>
      <p class="skillName">Python</p>
      <img src="../../../assets/icons/skills/python_5968350.png" alt="" />
    </li>
    <li>
      <p class="skillName">Django</p>
      <img src="../../../assets/icons/skills/icons8-django-250.png" alt="" />
    </li>
    <li>
      <p class="skillName">Java</p>
      <img src="../../../assets/icons/skills/java.png" alt="" />
    </li>
    <li>
      <p class="skillName">Git</p>
      <img src="../../../assets/icons/skills/icons8-git-240.png" alt="" />
    </li>
    <li>
      <p class="skillName">GitHub</p>
      <img src="../../../assets/icons/skills/icons8-github-250.png" alt="" />
    </li>
  </ul>
</div>
