.skillInfo {
  margin-top: 2.8125rem;
  background-color: var(--color-purple3);
  overflow: auto;
  padding: 0.625rem 0.625rem;

  display: flex;
  flex-wrap: wrap;
  gap: 0.9375rem;

  .firstStop {
    width: 3.4375rem;
    height: 3.4375rem;
  }
  h2 {
    width: 11.5625rem;
    font-family: var(--font-koho);
    font-size: 1.25rem;
    color: var(--color-white);
  }
  ul {
    list-style: none;
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    gap: 1.875rem;
    padding: 1.25rem 1.25rem;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      img {
        width: 3.75rem;
        height: 3.75rem;
      }
      .skillName {
        display: none;
      }
    }
    li:hover {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .skillName {
        display: block;
        position: absolute;
        background-color: var(--color-white);
        border-radius: 0.625rem;
        font-family: var(--font-koho);

        padding: 0.3125rem;
        top: -1.875rem;
      }
    }
  }
}
