* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  button {
    cursor: pointer;
  }
}

:root {
  --main-purple: #520076;
  --color-purple1: #9500ad;
  --color-purple2: #3202493f;
  --color-white: #ffffff;
  --color-gray: #d9d9d94f;
  --font-koho: "KoHo", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
